body {
    background-color: #f8f9fa;
  }
  
  .container {
    height: 100vh;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .btn-dark {
    background-color: #555;
    border: none;
  }
  
  .btn-dark:hover {
    background-color: #444;
  }
  